.header {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    overflow: hidden;
    padding: 1em 0.625em;
    text-align: center;
    max-height: 4em;
    background: linear-gradient(to right, #241d43, rgb(83, 116, 213));
    background-size: 400% 100%;
    background-attachment: fixed; /* Ensures smooth gradient movement */
    animation: headerFade 10s infinite alternate;
    display: flex;
    flex-direction: row;
}


@keyframes headerFade {
    0% {
        background-position: 0 0; /* Start position of the gradient background */
    }
    100% {
        background-position: 100% 0; /* End position of the gradient background */
    }
}

/* Float the link section to the right */
.header-right {
    margin-left: auto;
}

.header-right a:hover{
    color:antiquewhite;
}

/* Style the links in the header */
.header-right a{
    color: rosybrown;
    text-align: justify;
    font-size: 2.125em;
    padding: 1em 0.625em;
    text-decoration: none;
}

.header-right a:hover{
    background-color: transparent;
}

.title {
    float: left;
    color: rosybrown;
}